<div class="mainpage">
  <h1 style="text-align: center; margin-top: 40vh;"><strong>Library App<strong></h1>

<h3 style="text-align: center"><a href="/lib_main" style="text-decoration: none">View the collection</a></h3>
</div>
